.form-wrapper {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#delete-btn{
	width:85%;
	padding: 10px 0;
	
	margin: 0 5%;
}
.right{
	text-align: right;
}
.acountList{
	margin: 5px 0;
}
  /* ラジオボタンを非表示にする */
  input[type="radio"] {
    display: none;
  }
   /* ボタン風のスタイルを適用 */
  label.radio-button {
  	width:85%;
    display: inline-block;
    padding: 10px 20px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  /* 選択されたラジオボタンのスタイルを変更 */
  input[type="radio"]:checked + label.radio-button {
    background-color: #3498db;
    color: #fff;
    border-color: #3498db;
  }
  .acount-form{
	width: 85%;
	color: #287E39;
    background: #F3FFF3;
  	border: 1px solid #B9F9B2;
  	line-height: 2;	
    cursor: pointer;
    margin: 10px 3px;
    padding: 10px 40px 10px 16px;
 }