@charset "UTF-8";

/*************** 背景色設定 ***************/
body {
	background-color: #E5F0F8;	
}
/*************** ********* ***************/


/*************** 汎用設定 ***************/
.flex{
	display: flex;
}
.inline-block{
	display: inline-block;
}
.right {
    text-align: right; 
}
/*************** ******* ***************/

/*************** グローバルナビゲーション設定 ***************/
.gnavi__wrap {
    width: 100%;
    margin: 0 auto;
}
.gnavi__lists {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.gnavi__list {
    width: 25%;
    height: 60px;
    background-color: rgb(162, 201, 230);
    position: relative;
    transition: all .3s;
}
.gnavi__list:hover {
    background-color: #0071BB;
}
.gnavi__list:not(:first-child)::before {
    content: "";
    width: 1px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s;
}
.gnavi__list:hover::before {
    background-color: #0071BB;
}
.gnavi__list a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #1b4059;
    font-size: 15px;
    letter-spacing: 0.05em;
    font-weight: 600;
    transition: all .3s;
}
.gnavi__list:hover a {
    color: #fff;
}
/*************** ******************** ***************/