@charset "UTF-8";

/*************** トップページのタスク欄設定 ***************/
.top-wrap{
	width: 80%;
	height: auto;
	margin: 50px 10% 0px 10%; 
}
.task-wrap{
	width: 100%;
	height: auto;
}
.toDays-tasks{
	display:flex;
	width: 100%;
    background-color: #ffffff;
	border-radius: 25px;
	margin: 10px 0;
	
	height: auto;
	border: 1px solid #0000a0;
}
/*************** ****************** ***************/

/*************** タスクページのコンテンツ設定 ***************/
.main-content{
	padding: 10px 50px 0 50px;
	display: inline-block;
	width: 83%;
	margin-top: 20px;
	height: auto;
}

.task{
	width: 100%;
    background-color: #ffffff;
	border-radius: 25px;
	margin: 10px 0;
	border: 1px solid #0000a0;
	display:flex;	
}
.task:hover{
	cursor: pointer;
	color: white;
   background-color: #0071BB;
}

.transButton{
	margin-top: 12px;
	width: 5%;
	height:30px;
	border-radius: 15px;
}
.updateButtonDiv{
	text-align: right;
}
.updateButtonDiv .btn{
	width:100px;
	height: 30px;	
}

.priority{
	display: block;
	text-align: center;
	width: 8%;	
	padding: 15px 0;
}
.taskName{
	display: block;	
	text-align: left;
	width: 40%;	
	padding: 15px 0;
}
.dueTime{
	display: block;
	text-align: center;
	width: 25%;	
	padding: 15px 0;
}
.repName{
	display: block;
	text-align: center;
	width: 14%;	
	padding: 15px 0;
}
.status{
	display: block;
	text-align: center;
	width: 7%;
	padding: 15px 0;
}

.priority-title{
	display: block;
	width: 8%;
	text-align: center;
	font-weight: bold;
	font-size: 22px;
}
.taskName-title{
	display: block;	
	width: 40%;
	text-align: center;
	font-weight: bold;
	font-size: 22px;
}
.dueTime-title{
	display: block;
	width: 25%;
	text-align: center;
	font-weight: bold;
	font-size: 22px;
}
.repName-title{
	display: block;
	width: 14%;
	text-align: center;
	font-weight: bold;
	font-size: 22px;
}
.status-title{
	display: block;
	width: 7%;
	text-align: center;
	font-weight: bold;	
	font-size: 22px;
}

.repAssigned{
	display: block;
	width: 10%;
	margin: 15px 2%;
}
/*************** ******************** ***************/



