@charset "UTF-8";

/*************** 背景色設定 ***************/
body{
	background-color: #E5F0F8;	
}
/*************** ********* ***************/

/*************** フォーム内必須マーク ***************/
.Form-Item-Label-Required {
	border-radius: 6px;
	margin-left: 8px;
	margin-bottom: 5px;
	padding: 2px 0;
	width: 40px;
	display: inline-block;
	text-align: center;
	background: #0f9fff;
	color: #fff;
	font-size: 12px;
}
/*************** *************** ***************/

/*************** タスク追加フォーム設定 ***************/
.taskRegisterform-wrapper{
	max-width: 400px;
    margin: 70px auto 0px auto;
    padding: 30px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*************** **************** ***************/

/*************** 入力フォーム全般設定 ***************/
.form-wrapper {
  max-width: 400px;
  margin: 13% auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-title{
	text-align: center;
	font-size: 30px;
	border-bottom : 3px solid #0080c0;	
	margin-top: 0px;
}
.form-wrapper a{
	text-decoration: none;
}
.form-item {
  margin-bottom: 15px;
}
.form-item select{
	width: 95%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="datetime-local"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"] {
  width: 95%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.back-link{
	margin-top: 15px;
}

/*************** ************** ***************/

/*************** 新規ユーザ登録フォーム設定 ***************/
.acountRegisterform-wrapper {
	max-width: 400px;
	margin: 70px auto 0px auto;
	padding: 30px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.acountRegisterform-wrapper a{
	text-decoration: none;
}
/*************** ******************** ***************/

/*************** マイページフォーム設定 ***************/
.mypageform-wrapper {
  max-width: 400px;
  margin: 5% auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.mypageform-wrapper a {
	text-decoration: none;
}
.mypageform-item{
	width: 85%;
	color: black;
	display: block;
  	font-weight: bold;
    background: rgb(162, 201, 230);
	line-height: 2;
	cursor: pointer;
	margin: 20px 3px;
	padding: 10px 40px 10px 16px;
}
.mypageform-item:hover {
    background-color: #0071BB;
    color: #fff;
}
/*************** ********************************/

/*************** ユーザ情報フォーム設定 ***************/
.acountDetailform-wrapper {
	max-width: 400px;
	margin: 70px auto 0px auto;
	padding: 30px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.acountDetailform-wrapper .form-item input:disabled{
	border: none;
}
.acountDetailform-wrapper a{
	text-decoration: none;
}
#userEditOnBtn-wrapper 
input[type="button"] {
  width: 95%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 2.5%;
}
#userEditBtn-wrapper{
    display: none;
    justify-content:space-around;
}
#userEditBtn-wrapper 
input[type="submit"],
#userEditBtn-wrapper 
input[type="button"] {
  width: 45%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/*************** ***************** ***************/

/*************** ユーザ削除フォーム設定 ***************/
.acountform-wrapper {
	max-width: 400px;
    margin: 70px auto 0px auto;
    padding: 30px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.acountform-wrapper a {
	text-decoration: none;
}
.acountList{
	margin: 5px 0;
}
/* ラジオボタンを非表示にする */
.acountList input[type="radio"] {
	display: none;
}
 /* ボタン風のスタイルを適用 */
label.radio-button {
	width:85%;
	display: inline-block;
	padding: 10px 20px;
	background-color: #e0e0e0;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
}
/* 選択されたラジオボタンのスタイルを変更 */
input[type="radio"]:checked + label.radio-button {
	background-color: #3498db;
	color: #fff;
	border-color: #3498db;
}
#delete-btn {
	width:95%;
	padding: 10px 0;
	margin-top: 10px;
}
/*************** ***************** ***************/


/*************** タスク追加フォーム設定 ***************/
.taskRegisterform-wrapper a{
	text-decoration: none;	
}
/*************** ***************** ***************/