@charset "UTF-8";

/*************** メンバページwrapper設定 ***************/
.member-wrap{
	width: 100%;
	height: auto;
}
/*************** ******************* ***************/

/*************** メンバページメインコンテンツ設定 ***************/
.main-content{
	padding: 10px 50px 0 50px;
	display: block;
	width: 83%;
	margin-top: 20px;
	height: auto;
}
/*************** ********************** ***************/


/*************** 各項目名の設定 ***************/
.content-title{
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	display: flex;
}
.content-title span{
	margin-top: 10px;
	font-size: 20px;
}
.job-title{
	width: 15%;
	display: block;
	text-align: center;
}
.name-title{
	width: 40%;
	display: block;
	text-align: center;
}
.notStarted-title{
	width: 13%;	
	display: block;
	text-align: center;
}
.inProgress-title{
	width: 13%;	
	display: block;
	text-align: center;	
}
.completed-title{
	width: 13%;
	display: block;
	text-align: center;	
}
/*************** ************ ***************/

/*************** 各項目の設定 ***************/
.userList{
	width: 100%;
}
.userList span{
	margin-top: 10px;
	font-size: 20px;
}
.user{
	width: 100%;
	height: 50px;
    background-color: #ffffff;
	display:flex;
	border-radius: 25px;
	margin: 10px 0;
	border: 1px solid #0000a0;
}
.job{
	width: 15%;
	display: block;
	text-align: center;
}
.name{
	width: 40%;
	display: block;
	text-align: center;
}
.notStarted{
	width: 13%;	
	display: block;
	
	text-align: center;
}
.inProgress{
	width: 13%;	
	display: block;
	text-align: center;
}
.completed{
	width: 13%;
	display: block;
	text-align: center;
}
/*************** ********** ***************/
