@charset "UTF-8";

/*************** モーダル設定 ***************/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 8% auto;
  width: 50%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
}

@keyframes modalopen {
  from {opacity: 0}
  to {opacity: 1}
}

.modal-header h1 {
  margin: 1rem 0;
}

.modal-header {
  background: lightblue;
  padding: 3px 15px;
  display: flex;
  justify-content: space-between;
}

.modalClose {
  font-size: 2rem;
}

.modalClose:hover {
  cursor: pointer;
}

.modal-body {
  padding: 10px 20px;
  color: black;
}
/*************** ********* ***************/

/*************** モーダル内各項目設定 ***************/
.title{
	display: block;
	width:15%;
    font-size: 16px;
    margin: 14.8px 0;	
    font-weight: bold;
    text-align: center;
}
.modal-item {
	display: flex;
	margin: 15px 0;
}
.modal-item 
input[type="text"],
input[type="datetime-local"] {
	width: 75%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.modalText{
    font-size: 16px;
    margin: 0.5em 0;
}
.modal-item select{
	width: 78%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.select-user{
    font-size: 16px;
    margin: 0.5em 0;
}

.modal-td{
    display: block;
    padding: 4px;
    font-size: 16px;
}


/* ラジオボタンを非表示にする */
input[type="radio"] {
	display: none;
}

/* ボタン風のスタイルを適用 */
label.radio-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #e0e0e0;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
}

/* 選択されたラジオボタンのスタイルを変更 */
input[type="radio"]:checked + label.radio-button {
	background-color: #3498db;
	color: #fff;
	border-color: #3498db;
}

label.priority-radio-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #e0e0e0;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
}
input[type="radio"]:checked + label.priority-radio-button {
	background-color: #3498db;
	color: #fff;
	border-color: #3498db;
}

#btn-wrap{
    display: flex;
    justify-content:space-around;
	
}

.btn{
	width: 40%;
	height: 50px;
	margin-top: 20px;
	font-size: 16px;
}
/*************** **************** ***************/