<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>TKT</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/common.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/member.css}" type="text/css">
    <script type="text/javascript" th:src="@{/js/member.js}"></script>
    <script th:inline="javascript">
		const userList = /*[[${userList}]]*/"userList";
		const taskList = /*[[${taskList}]]*/"taskList";
	</script>
</head>
<body>
	<div class="form-wrapper">
	<br><br><br>

	<nav class="gnavi__wrap">
		<ul class="gnavi__lists">
			<li class="gnavi__list"><a href="/top">トップ</a></li>
			<li class="gnavi__list">
				<a href="/task">タスク</a>
				<ul class="dropdown__lists">
					<li class="dropdown__list"><a href="/myTask">マイタスク</a></li>
				</ul>
			</li>	
			<li class="gnavi__list"><a href="/member">メンバ</a></li>
		
			<li th:if="${loginUserRole == 2}" class="gnavi__list" ><a href="/admin">アカウント管理</a></li>
			<li th:if="${loginUserRole == 1}" class="gnavi__list" ><a href="">管理権限なし</a></li>
		</ul>
	</nav>
			<form class="right" th:action="@{/logout}" method="post">
		<button type="submit">ログアウト</button>
	</form>
	
	<!-- サイドバーに検索機能を表示する（役職/名前） -->

	
   
	<p class="member-title">メンバ一覧</p>
	
	<div class="member-wrap">
	
		<div class="main-content">
		 <!-- 以下メンバ一覧表示用（役職/名前/未着手/進行中/完了済タスク数を表示する） -->
     	<div class="right search">
   		<div class="search-block">
	   		<form th:action="@{/memberSearch}" th:object="${searchQuery}" method="get">
	   			<label><input class="is-job" type="checkbox" value="2" checked=”checked” onclick="jobCheck()">リーダ</label>
	   			<label><input class="is-job" type="checkbox" value="1" checked=”checked” onclick="jobCheck()">メンバ</label>
				<input type="search" th:field=*{name} placeholder="名前">
				<button>検索</button>
	 		</form>
	   	</div>
	</div>
			<div class="userList content-title">
				<span class="job-title">役職</span>
				<span class="name-title">名前</span>
				<span class="notStarted-title">未着手</span>
				<span class="inProgress-title">進行中</span>
				<span class="completed-title">完了済</span>
			</div>
			
			<div class="userList"></div>
				<div id="pagination">
					<button id="prev">&lt;</button>
			   		<div id="paginateButton"></div>
			   		<button id="next">&gt;</button>
				</div>
				
		</div>
	</div>
	



    </div>
</body>
</html>