<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>TKT</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/common.css}" type="text/css">
</head>
<body>
	<div class="form-wrapper">

    	<br><br><br>
	<form th:action="@{/logout}" method="post">
		<button type="submit">ログアウト</button>
	</form>
	<nav class="gnavi__wrap">
		<ul class="gnavi__lists">
			<li class="gnavi__list"><a href="/top">トップ</a></li>
			<li class="gnavi__list">
				<a href="/task">タスク</a>
				<ul class="dropdown__lists">
					<li class="dropdown__list"><a href="/myTask">マイタスク</a></li>
				</ul>
			</li>	
			<li class="gnavi__list"><a href="/member">メンバ</a></li>
			<li class="gnavi__list"><a href="/report">日報</a></li>
		</ul>
	</nav>


    </div>
</body>
</html>