<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>新規タスク追加</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/common.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/form.css}" type="text/css">
</head>
<body>    
	<header>
		<form th:action="@{/logout}" method="post">
			<button type="submit">ログアウト</button>
		</form>
		<hr>
	</header>

    <div class="taskRegisterform-wrapper">
	<p class="form-title">新規タスク追加</p>
		<form name="taskregistform" th:action="@{/task/registExecute}" th:object="${taskEntity}" method="post">
		    <div class="form-item">
			    <label>優先度<span class="Form-Item-Label-Required">必須</span></label>
			    <label><input type="radio" name="priority" th:value=1 required="required">高</label>	
   			    <label><input type="radio" name="priority" th:value=2 required="required">中</label>	
   			    <label><input type="radio" name="priority" th:value=3 required="required">低</label>	
		    </div>
		    		    
			<div class="form-item">
		    	<label>タスク名<span class="Form-Item-Label-Required">必須</span>
		    		<input type="text" name="name" th:field="*{name}" required="required"/><br>
		    	</label>
		    </div>
		    
			<div class="form-item">		    
		    	<label>期限<span class="Form-Item-Label-Required">必須</span>
			    	<input type="datetime-local" name="duetime" th:field="*{dueTime}"required="required"><br>
			    </label>
		    </div>
		    

		    <div class="form-item">
		    	<label>担当者
		    		<select name="userId">
	   		    		<option th:value=0></option>
						<option th:each="user : ${userList}" th:value="${user.id}" th:inline="text">[[${user.name}]]</option>
					</select>
				</label>
			</div>
			
			<div class="button-panel">
				<input type="submit" class="button" title="regist" value="登録"></input>
			</div>
	    </form>
   	    <div class="back-link">
	   		<a th:href="@{/task}">タスク一覧に戻る</a>
   	    </div>
	   	
    </div>
    
    
</body>
</html>