<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>TKT</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css">
    
</head>
<body>
	<div class="acountRegistform-wrapper">

	    <h1>新規ユーザ登録ページ</h1>
	    <div class="right">
			<a href="/admin">アカウント管理トップに戻る</a>	<br><br>
		</div>
		<form name="userregistform" th:action="@{/admin/registExecute}" th:object="${user}" method="post">
			<div class="form-item">
				<label>ユーザ名
					<input type="text" name="name" th:field=*{name} required="required">
				</label>
			</div>
			<div class="form-item">
				<label>e-mail
					<input type="text" name="email" th:field=*{email} required="required">
				</label>
			</div>
			<div class="form-item">
				<label>パスワード
					<input type="text" name="password" th:field=*{password} required="required">
				</label>
			</div>
			<div class="form-item">
				<label>役職<br>
					<input th:value=1 type="radio" name="roleId" th:text="メンバ" required="required"><br>
					<input th:value=2 type="radio" name="roleId" th:text="リーダ" required="required">
				</label>
			</div>
			<div class="button-panel">
				<input type="submit" class="button" title="regist" value="登録"></input>
			</div>
		</form>
		
    </div>
</body>
</html>