<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>新規ユーザ登録</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/form.css}" type="text/css">
    
</head>
<body>

	<div class="acountRegisterform-wrapper">
	    <p class="form-title">新規ユーザ登録</p>

		<form name="userregistform" th:action="@{/registerExecute}" th:object="${user}" method="post">
			<div class="form-item">
				<label>ユーザ名<span class="Form-Item-Label-Required">必須</span>
					<input type="text" name="name" th:field=*{name} required="required" placeholder="例） 田中太郎">
				</label>
			</div>
			<div class="form-item">
				<label>メールアドレス<span class="Form-Item-Label-Required">必須</span>
					<input type="email" name="email" th:field=*{email} required="required" placeholder="例） tanaka@xxxx.xxx">
				</label>
			</div>
			<div class="form-item">
				<label>パスワード<span class="Form-Item-Label-Required">必須</span>
					<input type="password" name="password" th:field=*{password} required="required"placeholder="例） tanaka5555">
				</label>
			</div>
			<div class="form-item">
				<label>役職<span class="Form-Item-Label-Required">必須</span></label>
					<label><input th:value=1 type="radio" name="roleId" required="required">メンバ</label>
					<label><input th:value=2 type="radio" name="roleId" required="required">リーダ</label>
			</div>
			<div class="button-panel">
				<input type="submit" class="button" title="regist" value="登録"></input>
			</div>
		</form>
		<div class="form-footer">
			<p><a th:href="@{/login}">ログイン画面に戻る</a></p> 
  		</div>
    </div>
</body>
</html>